@import "~@/styles/_mixins";
@import "~@/styles/_variables";

.dash {
  height: 100vh;
  width: 100%;
  @include flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
    color: $--color-primary;
  }

  p {
    &:first-of-type {
      margin-top: 3rem;
    }
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }

  figure {
    background-color: #9b0b9b;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px -2px 20px 10px rgba(155, 11, 155, 0.25);
  }
}
