<script lang="ts">
import Order from "@/models/Order";
import { Component, Vue, PropSync, Prop } from "vue-property-decorator";

@Component({})
export default class TestInformation extends Vue {
  @PropSync("dialogVisible", { type: Boolean }) syncedDialogVisible!: Boolean;
  @Prop() order!: Order;
  get orders() {
    return this.$store.state.orders;
  }
}
</script>
<template>
  <el-dialog title="" :visible.sync="syncedDialogVisible">
    <div class="information-order">
      <section class="data-project">
        <div class="header-project">
          <el-image class="img-project" :src="order.imagem"></el-image>
          <div class="information">
            <div class="info-title">
              <h2>{{ order.nome }}</h2>
              <span>Editar</span>
            </div>
            <p>
              <span>Criado: {{ order.dataInclusao }} | Alterado: {{ order.dataAtualizacao }}</span>
            </p>
          </div>
        </div>
        <!-- HEADER PROJECT -->
        <div class="more-info-project">
          <div class="col-left">
            <ul>
              <li><strong>Tipo:</strong> <span>Residencial</span></li>
              <li><strong>Dono:</strong> <span>Usuário</span></li>
              <li><strong>Loja:</strong> <span>Nome da Loja</span></li>
            </ul>
            <div class="preview-closing">
              <p><strong>Previsão de Fechamento:</strong></p>

              <el-select
                class="select-data"
                v-model="value"
                placeholder="Selecionar Data"
                size="small"
              ></el-select>
            </div>
          </div>
          <!-- COL LEFT -->
          <div class="col-middle">
            <h2>Fluxo de Projeto:</h2>
            <span>Este projeto não pertence a nenhuma epada ou status. Altere abaixo:</span>
            <div class="flux-working">
              <ul>
                <li>Proposta Comercial Técnica</li>
                <li>PROPOSTA TÉCNICA FINALIZADA</li>
              </ul>
            </div>
            <a href="javascript:;">VER FLUXO COMPLETO</a>
          </div>
          <div class="col-right">
            <p><strong>Rarefas:</strong></p>
            <span class="pending">000</span>
            <span class="doing">000</span>
            <span class="stoped">000</span>
          </div>
        </div>
      </section>
      <section class="data-lead">
        <div class="col-right">
          <div class="header-info-lead">
            <h2>{{ order.lead.nome }}</h2>
            <a href="javascript:;">VER LEAD</a>
            <a href="javascript:;">Video Tutorial</a>
          </div>
          <div class="info-complement-lead">
            <ul>
              <li>
                <strong>Celular:</strong> <span>{{ order.lead.celular }}</span>
              </li>
              <li>
                <strong>E-mail:</strong> <span>{{ order.lead.email }}</span>
              </li>
            </ul>
          </div>
          <div class="info-resp">
            <div class="info-resp-comercial">
              <p><strong>Responsável Comercial:</strong></p>
              <select>
                <option value="">Escolher Data</option>
              </select>
            </div>
            <div class="info-resp-tecnic">
              <p><strong>Responsável Técnico:</strong></p>
              <select>
                <option value="">Escolher Data</option>
              </select>
            </div>
          </div>
        </div>
      </section>
    </div>
  </el-dialog>
</template>

<style lang="scss" scoped src="./styles/_index.scss"></style>
