@import "~@/styles/variables";
@import "~@/styles/mixins";

#login {
  width: 100%;
  min-height: 100vh;
  background-color: $--color-primary;
  @include flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 90%;
    max-width: 300px;
  }
  .box {
    width: 90%;
    max-width: 350px;
    background-color: $--color-light;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border-top: 2px solid $--color-secondary;
    box-shadow: 0px 0px 20px rgba($--color-secondary, 0.4);
    h3 {
      margin: 1rem 0px 2rem 0px;
      padding-bottom: 1rem;
      color: $--color-dark;
    }
    a {
      position: absolute;
      font-size: 0.7rem;
      font-weight: 400;
      top: -2rem;
      right: 0;
      z-index: 99;
      cursor: pointer;
      color: $--color-default;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: $--color-primary;
        text-decoration: underline;
      }
    }
    &__password {
      position: relative;
    }
    .check {
      margin-top: 0.5rem;
    }
    .el-button {
      width: 100%;
      display: block;
      margin-top: 1.5rem;
      padding: 1rem;
      font-size: 1rem;
      box-sizing: border-box;
      margin-bottom: 1rem;
    }
  }
  .developed {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $--color-light;
    a {
      color: $--color-light;
      text-decoration: none;
      font-size: 0.9rem;
    }
  }
  .heart {
    color: rgb(211, 67, 98);
  }
}
