<script lang="ts">
import { Component, Vue, Emit } from "vue-property-decorator";
import DetailOrder from "@/views/dashboard/components/detail_order/DetailOrder.vue";
import Order from "@/models/Order";

@Component({
  components: {
    DetailOrder
  }
})
export default class Dashboard extends Vue {
  visible: boolean = false;
  search: string = "";
  order: any = Order;
  get orders() {
    return this.$store.state.orders;
  }
  created() {
    this.$store.dispatch("getAllOrders");
  }
  @Emit()
  handleDetail(index: any, row: any) {
    this.order = Object.assign(row, Order);

    this.visible = true;
  }
}
</script>
<template>
  <section id="dash" class="dash">
    <header>
      <figure>
        <img src="https://appsafeleads.com.br/wp-content/uploads/2020/09/logo-safeleads.png" />
      </figure>
    </header>
    <DetailOrder :dialogVisible.sync="visible" :order="order" />
    <el-table
      :data="
        orders.filter(
          data => !search || data.lead.nome.toLowerCase().includes(search.toLowerCase())
        )
      "
    >
      <el-table-column label="Cód" prop="id" width="50"></el-table-column>
      <el-table-column label="Projeto" prop="nome" width="120"> </el-table-column>
      <el-table-column label="Lead" prop="lead.nome"> </el-table-column>
      <el-table-column label="Etapa" prop="etapaLead" width="120"> </el-table-column>
      <el-table-column label="Consumo" prop="consumo" width="80"> </el-table-column>
      <el-table-column label="Inclusão" prop="dataInclusao" width="120"> </el-table-column>
      <el-table-column label="Status" prop="status.nome">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status.cor" disable-transition>{{
            scope.row.status.nome
          }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Ações">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleDetail(scope.$index, scope.row)">Detalhe</el-button>
        </template>
      </el-table-column>
    </el-table>
  </section>
</template>

<style lang="scss" scoped src="./styles/_index.scss"></style>
