@import "~@/styles/_variables";
.information-order {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  ul {
    list-style-type: none;
  }
  .data-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .img-project {
      width: 55px;
      height: 55px;
      border-radius: 7px;
      margin-right: 10px;
    }
    .information {
      .info-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        h2 {
          text-align: left;
          color: $--color-dark;
        }
        span {
          font-size: 15px;
          color: $--color-primary;
          font-weight: bold;
        }
      }
      p {
        color: $--color-medium;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
  .more-info-project {
    display: flex;
    align-items: flex-start;
    .col-left {
      text-align: left;
      padding: 0 10px;
      margin-left: 60px;
      margin-right: 40px;
      ul {
        margin-bottom: 30px;
        li {
          strong {
            width: 45px;
            display: block;
            float: left;
          }
          line-height: 20px;
          width: auto;
        }
      }
      .select-data {
        margin-top: 10px;
        width: 150px;
      }
    }
    .col-middle {
      width: 208px;
      padding: 5px;
      text-align: left;
      margin-right: 40px;
      h2 {
        font-size: 15px;
        margin-bottom: 15px;
      }
      span {
        font-size: 12px;
        margin-bottom: 20px;
        display: block;
      }
      ul {
        li {
          font-size: 12px;
          padding: 5px 0 5px 15px;
          &:first-child {
            display: block;
            background: #0c6338;
            color: #fafdfb;
            border-radius: 30px;
            margin-bottom: 10px;
          }
          list-style-type: ceil($number: 4);
        }
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: $--color-primary;
        margin-top: 20px;
        display: block;
        font-size: 12px;
      }
    }
    .col-right {
      p {
        margin-bottom: 15px;
      }
      span {
        display: block;
        margin: 5px;
        padding: 10px;
        border-radius: 7px;
        font-size: 11px;
      }
      .pending {
        border: 1px solid $--color-warning;
        color: $--color-warning;
      }
      .doing {
        border: 1px solid $--color-success;
        color: $--color-success;
      }
      .stoped {
        border: 1px solid $--color-danger;
        color: $--color-danger;
      }
    }
  }
}
